<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.local.mapper.DeviceMapper">

    <resultMap id="BaseResultMapNumber" type="com.jc.local.entity.Device">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="NUMBER" jdbcType="VARCHAR" property="number"/>
        <result column="DM_NUM" jdbcType="VARCHAR" property="dmNum"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="POSITION" jdbcType="VARCHAR" property="position"/>
        <result column="MP_NUM" jdbcType="VARCHAR" property="mpNum"/>
        <result column="DEV_SN" jdbcType="VARCHAR" property="devSn"/>
        <result column="IS_DEL" jdbcType="CHAR" property="isDel"/>
        <result column="OP_FLAG" jdbcType="CHAR" property="opFlag"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime"/>

        <!--                设备对规则 一对一 -->
        <!--        <association property="deviceRuleChain"-->
        <!--                     select="com.jc.local.mapper.DeviceRuleChainMapper.selectNumber">-->
        <!--        </association>-->
        <!--   设备对参数     一对多   -->
        <collection property="deviceParamsList"
                    javaType="java.util.List"
                    ofType="com.jc.local.entity.DeviceParam"
                    select="com.jc.local.mapper.DeviceMapper.selectOutput"
                    column="number">
        </collection>
        <!--   设备对输出     一对多   -->
        <collection property="deviceOutputList"
                    javaType="java.util.List"
                    ofType="com.jc.local.entity.DeviceOutput"
                    select="com.jc.local.mapper.DeviceMapper.selectParam"
                    column="number">
        </collection>

    </resultMap>

    <select id="selectAll" resultType="com.jc.local.entity.Device">
        select * from device d where IS_DEL=0
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultType="com.jc.local.entity.Device">
        select * from device where ID =#{id}
    </select>

    <delete id="deleteId" parameterType="java.lang.Integer">
        delete from device where ID =#{id}
    </delete>
    <!--    parameterType="com.jc.local.entity.Device"-->
    <insert id="save">
        insert into device (ID, NUMBER, DM_NUM,
          NAME, DESCRIPTION, STATUS,
          POSITION, MP_NUM, DEV_SN,
          IS_DEL, OP_FLAG, CREATED_BY,
          CREATED_TIME, UPDATED_BY, UPDATED_TIME
          )
        values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{dmNum,jdbcType=VARCHAR},
          #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
          #{position,jdbcType=VARCHAR}, #{mpNum,jdbcType=VARCHAR}, #{devSn,jdbcType=VARCHAR},
          #{isDel,jdbcType=CHAR}, #{opFlag,jdbcType=CHAR}, #{createdBy,jdbcType=VARCHAR},
          #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
          )
    </insert>

    <update id="update">
        update device
            set NUMBER = #{number,jdbcType=VARCHAR},
              DM_NUM = #{dmNum,jdbcType=VARCHAR},
              NAME = #{name,jdbcType=VARCHAR},
              DESCRIPTION = #{description,jdbcType=VARCHAR},
              STATUS = #{status,jdbcType=CHAR},
              POSITION = #{position,jdbcType=VARCHAR},
              MP_NUM = #{mpNum,jdbcType=VARCHAR},
              DEV_SN = #{devSn,jdbcType=VARCHAR},
              IS_DEL = #{isDel,jdbcType=CHAR},
              OP_FLAG = #{opFlag,jdbcType=CHAR},
              CREATED_BY = #{createdBy,jdbcType=VARCHAR},
              CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
              UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
              UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
            where ID = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteIds" parameterType="java.lang.Integer">
        -- select * from where 表名 in (value1,value2,…) 查询指定的的数据
        delete from device where ID in
        <foreach collection="list" open="(" close=")" separator="," index="index" item="ids">
            #{ids}
        </foreach>
    </delete>

    <update id="startStop" parameterType="com.jc.local.entity.Device">
        update device set STATUS = #{status,jdbcType=CHAR}  where ID= #{id}
    </update>

    <update id="idDelete" parameterType="java.lang.Integer">
        update device set IS_DEL = 1 where ID=#{id}
    </update>

    <select id="numberJoinOutPutJoinParamList" resultMap="BaseResultMapNumber" parameterType="java.lang.String">
        SELECT
            *
        FROM
            device d
        where d.NUMBER = #{number}
    </select>

    <select id="selectOutput" parameterType="java.lang.String" resultType="com.jc.local.entity.DeviceOutput">
        select * from device_output where DEVICE_NUM = #{number}
    </select>

    <!--    <select id="selectRulechain" parameterType="java.lang.String" resultType="com.jc.local.entity.DeviceRuleChain" >-->
    <!--        select * from device_rulechain where DEVICE_NUM = #{deviceNum}-->
    <!--    </select>-->

    <select id="selectParam" parameterType="java.lang.String" resultType="com.jc.local.entity.DeviceParam">
        select * from device_param where DEVICE_NUM = #{number}
    </select>

</mapper>