<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.local.mapper.DeviceGroupMapper">
    <resultMap id="BaseResultMap" type="com.jc.local.entity.DeviceGroup">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="DEVICE_NUM" jdbcType="VARCHAR" property="deviceNum" />
        <result column="GROUP_NUM" jdbcType="VARCHAR" property="groupNum" />
        <result column="IS_DEL" jdbcType="CHAR" property="isDel" />
        <result column="OP_FLAG" jdbcType="CHAR" property="opFlag" />
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
        <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from device_group
    </select>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select * from device_group where ID=#{id}
    </select>
    <update id="update" parameterType="com.jc.local.entity.DeviceOutput">
        update device_group set DEVICE_NUM = #{deviceNum,jdbcType=VARCHAR},
          GROUP_NUM = #{groupNum,jdbcType=VARCHAR},
          IS_DEL = #{isDel,jdbcType=CHAR},
          OP_FLAG = #{opFlag,jdbcType=CHAR},
          CREATED_BY = #{createdBy,jdbcType=VARCHAR},
          CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
          UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
          UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=INTEGER}
    </update>

</mapper>